* {
    box-sizing: border-box; 
  }
body {
    width: auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: black;
    color: white;
    font-size: 14px;
    font-family:Georgia, 'Times New Roman', Times, serif
}
#main {
    display: flex;
    justify-content: flex-start;
    /* align-items: flex-start; */
    /* min-height: calc(100vh - 40vh); */
  }
  #main > article {
    /* width: 80%; */
    flex: 2 1 300px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  } 
  #main > aside {
    /* width: 20%; */
    flex: 1 2 100px;
    background: black;

  }
  #inform {
    padding-left: 15px;
    padding-right: 10px;
    /* margin: 5px; */
    border: 1px solid yellow;
  }

  header, footer, article, aside {
    padding: 1em;
  }

  #yellow {
    position: relative;
    background: yellow;
    color: black;
    text-align: left;
    margin: 1px;
    box-shadow: 5px 5px white;
    padding-left: 5px;
  }



header {
    text-align:center
}

code {
    font-size: 12px;
}

/* div {
    margin-left: 240px;
} */

a {
    color: darkslategray
}